/*All Common CSS Start*/ 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
}
.img_fluid{
    max-width: 100%;
    height: auto;
}
.w-100{
    width: 100%;
}
/*All Common CSS End*/ 